<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anomalous, Is It?</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <script src="../static/js/w3.js" type="text/javascript"></script>
</head>

<!--Adding in nav header-->


<div w3-include-html="./header"></div>


<div class="container_main">


    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="container">

                <div class="page_left">

                    <br /><br /><img src="/static/img/Picture2.png" width="277px" height="182px">

                    <img src="/static/img/EVuW46-XsAAkpUH.jpg"  width="277px" height="182px">
                    
                    <!--<br /><br /><img src="/static/img/Picture3.png" width="277px" height="182px">-->

                    <br /><br /><img src="/static/img/wsbimages.jpg"  width="277px" height="182px">

                    <!--<br /><br /><br /><img src="/static/img/Picture1.png"  width="277px" height="182px">-->

                    <img src="/static/img/T3images.jpg"  width="277px" height="182px">

                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-5">
            <div class="page_right">
                <h2>Exploring Influencers’ Remark Effects on the US Financial Market</h2>

                <hr>

                <p>This project explores whether influencers’ remarks affect the financial market.  With an estimated 70 billion dollars of investment lost in the Reddit WallStreetBets and GameStop incident, non-fundamental factors have gained more attention.  Hedge fund managers, financial investment professionals, retail investors, and mutual fund managers, are among those who may seek these potentials to outperform the market an/or reduce investment risks.
                    
                    <br /><br />Selected influencers’ remarks include Trump’s tweets, WallStreetBets Reddit, and Jerome Powell’s speeches.
                    
                    <br /><br />Economic and financial keywords are extracted from their messages and counted by their posting dates from January 1, 2016, to April 2021.  Market movements in relation to the keyword frequencies, sentiments, and changes in economic indicators on news release dates are explored. Interpretability and predictability of these relations are elucidated using machine learning methods.
                    
                    <br /><br />Results suggest that the financial market maintains its efficiency. The methods may be modified for exploring non-fundamental effects on returns on investment portfolios to add weight of these effects to their fundamental investment metrics.
                                        
                </p>
                </span>
            </div>
        </div>
</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="container">
                    <div class="page_left">

                    <br /><br />

                    <br /><br /><img src="/static/img/jerome_cash.jpg" width="277px" height="182px">

                    <img src="/static/img/powell-bitcoin.jpg"  width="277px" height="182px">
                    
                    <br /><br /><img src="/static/img/Picture3.png" width="277px" height="182px">

                    <img src="/static/img/Picture1.png"  width="277px" height="182px">
                    
                    <!--<a class="twitter-timeline" data-width="1200" data-height="600" data-dnt="true" data-theme="dark" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw"></a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

                </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-5">
                <div class="page_right">
                <h2>Our Approach</h2>
                <hr>
                <p>
                    Machine learning was applied to analyze the tweets by using scikit-learn libraries to determine the positive or negative sentiment of each tweet (NLTK) and determine counts for the most tweeted words and phrases (Count Vectorizer). Outcomes from the machine
                    learning are used to visualize in Tableau any potential economic impacts the tweets might have on the following economic indicators:
                    <li>SPY Large Cap ETF tracks the S&P 500, which represents large cap stocks</li>
                    <ul></ul>
                    <li>MDY Mid Cap ETF represents mid cap stocks</li>
                    <ul></ul>
                    <li>IJR Small Cap ETF tracks the Russell 2000, which represents small cap stocks</li>
                    <ul></ul>
                    <li>Employment Situation monthly releases for non-farm jobs added each month</li>
                    <ul></ul>
                    <li>Real GDP Growth news releases which are represented by three estimates by quarter</li>
                    <ul></ul>

                    JavaScript D3.JS was used to create visualizations of the word and phrase counts and Material Design for Bootstrap was used to for search and sort functionality of the data table.

                </p>
            </div>
            </div>
        </div>


  
</div>
</div>

<script type="text/javascript">
    w3.includeHTML();
</script>

</body>

</html>